.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff!important;
    background: #4abfd5!important;
    border: 1px solid #4abfd5!important;
    border-bottom: #fff!important;
    border-color: #dee2e6 #dee2e6 #fff!important;
}

.nav-tabs .nav-link {
    margin-bottom: -1px!important;
    border: 1px solid#fff!important;
    background-color: #7287a5!important;
    border-bottom: #fff;
    border-top-left-radius: 0.35rem!important;
    border-top-right-radius: 0.35rem!important;
    font-size: 25px!important;
    height: 100%!important;
}
.nav-link {
    display: block!important;
    text-decoration: none!important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out!important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff!important;
    text-decoration: none!important;
    background-color: #4abfd5!important;
}

.tab-content > .active {
    display: block!important;
    border: 1px solid #4abfd5!important;
    padding: 10px!important;
    border-radius: 0px 0px 15px 15px!important;
    padding: 20px!important;
}

.nav-tabs > .nav-item > .nav-link{
    border-radius: 0px!important;
}

.nav-tabs {
    border: 0!important;
    padding: 1px 0rem!important;
}

.nav-tabs > .nav-item > .nav-link{
    margin-right: 5px!important;
}
